<article>

<section>


     <%= form_tag({action: :create}, multipart: true , :class => 'form-vertical') do %>


 		  Purpose:<br>

      <input id="purpose_travel" name="purpose" type="radio" value="Travel" />
      <label for="purpose_travel">Travel</label><br>
      <input id="purpose_expense_owner" name="purpose" type="radio" value="Expense on behalf of owner" />
      <label for="purpose_expense_owner">Expense on behalf of owner</label><br>
      <input id="purpose_agreement" name="purpose" type="radio" value="agreement(stampduty/printing)" />
      <label for="purpose_agreement">Agreement(stampduty/printing)</label><br>
      <input id="purpose_referral" name="purpose" type="radio" value="referral" />
      <label for="purpose_referral">Referral Bonus</label><br>
      <input id="purpose_it" name="purpose" type="radio" value="IT" />
      <label for="purpose_it">IT</label><br><br>


  Amount: <input type="number" name="amount"><br>

  For what: <input type="text" name="forwhat"><br>

  Name: <select name="name">
  				<option value="altaf">Altaf</option>
  				<option value="sudhanshu">Sudhanshu</option>
  				<option value="ayush">Ayush</option>

        </select><br><br>

        Date:
<!-- 
        <input type="date" name="date"><br><br>


        Time:

        <input type="time" name="time"><br><br> -->

     
            <%= file_field_tag 'file' %>
         

          <br><br>



      <button type="submit">Submit</button>

       <% end %>

 	</form>

  <p>
  <%= flash[:success] unless flash[:success].blank? %>
  <%= flash[:error] unless flash[:error].blank? %>
</p>



</section>
</article>

<br><br><br>

<a href="/show">Click to view all the expenses</a>

 	
</div>

<script type="text/javascript">

// test on mobile
$('head').append('<meta name="viewport" content="width=device-width, initial-scale=1" />');

// bootstrap-select
$('select').selectpicker({
  mobile: false
});

// inpu mtasking
$('.mask-date').mask("00/00/0000", {
  placeholder: "__-__-____"
});
$('.mask-money').mask('000.000.000.000.000,00', {
  reverse: true
});

// custom checkbox and radio
$('input').iCheck({
  checkboxClass: 'icheckbox_square-blue',
  radioClass: 'iradio_square-blue'
});

</script>